*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,Helvetica,sans-serif;
  background:#f8fafc;
  color:#111;
}

/* HEADER */
.topbar{
  background:#14532d;
  color:#fff;
  padding:20px 40px;
}

/* LAYOUT */
.magazine{
  display:grid;
  grid-template-columns:3fr 1fr;
  gap:40px;
  padding:40px;
}

/* BÀI VIẾT */
.article{
  display:none;
}
.article.active{
  display:block;
}

.article h1{
  font-family:"Playfair Display",serif;
  font-size:2.4rem;
  margin-bottom:20px;
  color:#14532d;
}

.article img{
  width:100%;
  border-radius:12px;
  margin:20px 0;
}

.article p{
  font-size:1.1rem;
  line-height:1.8;
  margin-bottom:16px;
}

/* SIDEBAR */
.sidebar{
  border-left:2px solid #e5e7eb;
  padding-left:20px;
}

.post{
  cursor:pointer;
  padding:14px;
  margin-bottom:16px;
  border-left:5px solid #16a34a;
  background:#fff;
}

.post:hover{
  background:#f0fdf4;
}

/* FOOTER */
.footer{
  text-align:center;
  padding:20px;
  background:#14532d;
  color:#fff;
  margin-top:40px;
}

/* MOBILE */
@media(max-width:900px){
  .magazine{
    grid-template-columns:1fr;
  }
  .sidebar{
    border-left:none;
    padding-left:0;
  }
}

